*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

.navbar{
    /* background-color: gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 10vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
}
.nav_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28%;
    cursor: pointer;
}
.active{
    background: rgb(37, 51, 56);
    padding:  20px 10px;
    color: white;
}
.nav_item:hover{
background-color:  tomato;
padding:  20px 10px;

}